vim/bundle/
vim/plugged/
*~
*#
.#*
*.hi
*.o
*x86_64-linux
xmonad/xmonad.errors
xmonad/prompt-history
clj-kondo/.cache
xmonad/img
config/yarn
config/gtk-2.0
.DS_Store
config/configstore
config/karabiner/automatic_backups
vattenfall
config/nvim/plugin/packer_compiled.lua
statkraft
shell/statkraft
vim/spell/*
