
snippet class
	public class $1 {
	}
snippet main
	public static void main(String[] args) {
	}
snippet sysout
	System.out.println($1);
snippet for
	for (int i = 0; i < $1; i++) {
	}
snippet toString
	public String toString() {
		String ret = "";
		return ret;
	}
